.banner-wrapper {
  display: contents;
}
 
.banner-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  background-color: var(--dl-color-theme-primary1);
}
 
.banner-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.legal-stuff-wrapper {
  display: contents;
}
 
.legal-stuff-faq7 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.legal-stuff-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.legal-stuff-text10 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  font-size: 32px;
  font-family: "SegoeUIThis-Bold";
}
 
.legal-stuff-list-item11 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.legal-stuff-faq1-question1 {
  font-size: 24px;
  font-style: normal;
  font-family: "SegoeUIThis-Bold";
  font-weight: 600;
}
 
.legal-stuff-faq1-answer1 {
  font-size: 18px;
  font-family: "AvenirLTPro-Light";
}
 
.legal-stuff-list-item12 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.legal-stuff-faq1-question2 {
  font-size: 24px;
  font-style: normal;
  font-family: "SegoeUIThis-Bold";
  font-weight: 600;
}
 
.legal-stuff-faq1-answer2 {
  font-size: 18px;
  font-family: "AvenirLTPro-Light";
}
 
.legal-stuff-content2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.legal-stuff-text11 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  font-size: 24px;
  font-family: "SegoeUIThis-Bold";
}
 
.legal-stuff-text12 {
  text-align: center;
  font-family: "AvenirLTPro-Light";
}
 
.legal-fragment15 {
  display: contents;
}
 
.legal-text32 {
  display: inline-block;
}
 
.legal-fragment14 {
  display: contents;
}
 
.legal-text21 {
  display: inline-block;
}
 
.legal-fragment13 {
  display: contents;
}
 
.legal-text13 {
  display: inline-block;
}
 
.legal-fragment11 {
  display: contents;
}
 
.legal-text11 {
  display: inline-block;
}
 
.legal-fragment16 {
  display: contents;
}
 
.legal-text33 {
  display: inline-block;
}
 
.legal-fragment12 {
  display: contents;
}
 
.legal-text12 {
  display: inline-block;
}
 
.legal-fragment10 {
  display: contents;
}
 
.legal-text10 {
  display: inline-block;
}
 

 
@media(max-width: 1600px) {
  .legal-stuff-text10 {
    font-size: 36px;
    font-family: SegoeUIThis-Bold;
  }
  .legal-stuff-faq1-question1 {
    font-size: 24px;
    font-family: SegoeUIThis-Bold;
  }
  .legal-stuff-faq1-answer1 {
    font-size: 18px;
    font-family: AvenirLTPro-Light;
  }
  .legal-stuff-faq1-question2 {
    font-size: 24px;
    font-family: SegoeUIThis-Bold;
  }
  .legal-stuff-faq1-answer2 {
    font-size: 18px;
    font-family: AvenirLTPro-Light;
  }
  .legal-stuff-text11 {
    fill: var(--dl-color-theme-primary1);
    color: var(--dl-color-theme-primary1);
    font-size: 36px;
    font-family: SegoeUIThis-Bold;
  }
  .legal-stuff-text12 {
    font-size: 24px;
    font-family: AvenirLTPro-Light;
  }
  .legal-text32 {
    font-family: SegoeUIThis-Bold;
  }
  .legal-text21 {
    font-family: AvenirLTPro-Light;
  }
  .legal-text13 {
    font-family: AvenirLTPro-Light;
  }
  .legal-text11 {
    fill: var(--dl-color-theme-primary1);
    color: var(--dl-color-theme-primary1);
    font-size: 36px;
    font-family: SegoeUIThis-Bold;
  }
  .legal-text33 {
    font-family: SegoeUIThis-Bold;
  }
  .legal-text12 {
    font-family: SegoeUIThis-Bold;
  }
  .legal-text10 {
    font-family: AvenirLTPro-Light;
  }
}
 
@media(max-width: 991px) {
  .legal-stuff-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 767px) {
  .legal-stuff-list1 {
    gap: var(--dl-layout-space-twounits);
  }
  .legal-stuff-list2 {
    gap: var(--dl-layout-space-twounits);
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer-content {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer-logo1 {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-link1 {
  display: contents;
}
 
.footer-logo2 {
  height: 2rem;
  text-decoration: none;
}
 
.footer-links {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: flex-start;
}
 
.footer-link2 {
  font-size: 18px;
  font-family: "AvenirLTPro-Light";
}
 
.footer-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer-container {
  display: flex;
  align-items: flex-start;
}
 
.footer-text1 {
  font-family: "AvenirLTPro-Light";
}
 
.footer-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer-text2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-family: "AvenirLTPro-Light";
  text-decoration: none;
}
 
.footer-text3 {
  font-family: "AvenirLTPro-Light";
  text-decoration: none;
}
 
.legal-fragment19 {
  display: contents;
}
 
.legal-text36 {
  display: inline-block;
}
 
.legal-fragment18 {
  display: contents;
}
 
.legal-text35 {
  display: inline-block;
}
 
.legal-fragment17 {
  display: contents;
}
 
.legal-text34 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .footer-logo2 {
    width: auto;
    height: var(--dl-layout-size-medium);
    max-width: auto;
    min-width: auto;
  }
  .footer-link2 {
    font-size: 18px;
    font-family: AvenirLTPro-Light;
  }
  .footer-text1 {
    font-size: 16px;
    font-family: AvenirLTPro-Light;
  }
  .footer-text2 {
    font-size: 16px;
    font-family: AvenirLTPro-Light;
  }
  .footer-text3 {
    font-size: 16px;
    font-family: AvenirLTPro-Light;
  }
}
 
@media(max-width: 767px) {
  .footer-row {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .footer-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .footer-links {
    flex-direction: column;
  }
  .footer-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.legal-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
 
.legal-fragment10 {
  display: contents;
}
 
.legal-text10 {
  display: inline-block;
}
 
.legal-fragment11 {
  display: contents;
}
 
.legal-text11 {
  display: inline-block;
}
 
.legal-fragment12 {
  display: contents;
}
 
.legal-text12 {
  display: inline-block;
}
 
.legal-fragment13 {
  display: contents;
}
 
.legal-text13 {
  display: inline-block;
}
 
.legal-fragment14 {
  display: contents;
}
 
.legal-text21 {
  display: inline-block;
}
 
.legal-fragment15 {
  display: contents;
}
 
.legal-text32 {
  display: inline-block;
}
 
.legal-fragment16 {
  display: contents;
}
 
.legal-text33 {
  display: inline-block;
}
 
.legal-fragment17 {
  display: contents;
}
 
.legal-text34 {
  display: inline-block;
}
 
.legal-fragment18 {
  display: contents;
}
 
.legal-text35 {
  display: inline-block;
}
 
.legal-fragment19 {
  display: contents;
}
 
.legal-text36 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .legal-text10 {
    font-family: AvenirLTPro-Light;
  }
  .legal-text11 {
    fill: var(--dl-color-theme-primary1);
    color: var(--dl-color-theme-primary1);
    font-size: 36px;
    font-family: SegoeUIThis-Bold;
  }
  .legal-text12 {
    font-family: SegoeUIThis-Bold;
  }
  .legal-text13 {
    font-family: AvenirLTPro-Light;
  }
  .legal-text21 {
    font-family: AvenirLTPro-Light;
  }
  .legal-text32 {
    font-family: SegoeUIThis-Bold;
  }
  .legal-text33 {
    font-family: SegoeUIThis-Bold;
  }
}
