.contact-us-container1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-max-width {
  align-self: center;
}
 
.contact-us-section-title {
  width: 100%;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.contact-us-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-text10 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  font-size: 32px;
  font-family: "SegoeUIThis-Bold";
}
 
.contact-us-text11 {
  color: #000000;
  font-family: "AvenirLTPro-Light";
}
 
.contact-us-content2 {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-us-content3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-content4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-contact-info1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-text12 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  font-size: 24px;
  align-self: flex-start;
  text-align: center;
  font-family: "SegoeUIThis-Bold";
}
 
.contact-us-text13 {
  color: #000000;
  font-size: 16px;
  font-family: "AvenirLTPro-Light";
}
 
.contact-us-email {
  color: #000000;
  font-size: 18px;
  font-family: "AvenirLTPro-Light";
  text-decoration: none;
}
 
.contact-us-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-contact-info2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-text14 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  font-size: 24px;
  align-self: flex-start;
  text-align: center;
  font-family: "SegoeUIThis-Bold";
}
 
.contact-us-text15 {
  font-size: 16px;
  font-family: "AvenirLTPro-Light";
}
 
.contact-us-text16 {
  font-size: 18px;
  font-family: "AvenirLTPro-Light";
  text-decoration: none;
}
 
.contact-us-content6 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-contact-info3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-text17 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  font-size: 24px;
  align-self: flex-start;
  text-align: center;
  font-family: "SegoeUIThis-Bold";
}
 
.contact-us-text18 {
  font-size: 16px;
  font-family: "AvenirLTPro-Light";
}
 
.contact-us-address1 {
  font-size: 18px;
  font-family: "AvenirLTPro-Light";
}
 
.contact-us-address2 {
  font-size: 18px;
  font-family: "AvenirLTPro-Light";
}
 
.contact-us-container2 {
  width: 100%;
}
 
.contact-us-fragment10 {
  display: contents;
}
 
.contact-us-text20 {
  display: inline-block;
}
 
.contact-us-fragment11 {
  display: contents;
}
 
.contact-us-text21 {
  display: inline-block;
}
 
.contact-us-fragment12 {
  display: contents;
}
 
.contact-us-text22 {
  display: inline-block;
}
 
.contact-us-fragment13 {
  display: contents;
}
 
.contact-us-text23 {
  display: inline-block;
}
 
.contact-us-fragment14 {
  display: contents;
}
 
.contact-us-text24 {
  display: inline-block;
}
 
.contact-us-fragment15 {
  display: contents;
}
 
.contact-us-text25 {
  display: inline-block;
}
 
.contact-us-fragment16 {
  display: contents;
}
 
.contact-us-text26 {
  display: inline-block;
}
 
.contact-us-fragment17 {
  display: contents;
}
 
.contact-us-text27 {
  display: inline-block;
}
 
.contact-us-fragment18 {
  display: contents;
}
 
.contact-us-text28 {
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
 
.contact-us-fragment19 {
  display: contents;
}
 
.contact-us-text29 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .contact-us-text10 {
    font-size: 32px;
  }
  .contact-us-text11 {
    font-size: 18px;
  }
  .contact-us-text12 {
    font-size: 24px;
  }
  .contact-us-text13 {
    font-size: 16px;
  }
  .contact-us-email {
    font-size: 18px;
  }
  .contact-us-text14 {
    font-size: 24px;
  }
  .contact-us-text15 {
    font-size: 16px;
  }
  .contact-us-text16 {
    font-size: 18px;
  }
  .contact-us-text17 {
    font-size: 24px;
  }
  .contact-us-text18 {
    font-size: 16px;
  }
  .contact-us-address1 {
    font-size: 18px;
  }
  .contact-us-address2 {
    font-size: 18px;
  }
}
 
@media(max-width: 991px) {
  .contact-us-content2 {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
}
